:root {
  --primary-color: #23155b;
  --main-primary: #8053ff;
  --bs-link-hover-color: #8053ff;
  --bs-link-color: #23155b;
  --white: #ffffff;
  --black: #000000;
  --bs-primary-rgb: #23155b;
  --pipeline-line-color: #f4f5f4;
}

.container {
  max-width: 1440px;
}

.title-header {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.22;
}
.title-header::before {
  content: "";
  display: block;
  width: 52px;
  height: 60px;
  background-image: url("../images/header/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}
.btn-header {
  background: var(--main-primary);
  color: var(--white) !important;
}
.btn-header:hover,
.btn-header:focus {
  border: 1px solid var(--main-primary) !important;
  border-radius: 8px;
  background: var(--white);
}
.btn-active {
  background-color: var(--white) !important;
  color: var(--main-primary) !important;
  border: 1px solid var(--main-primary) !important;
}
.btn-active:hover,
.btn-active:focus {
  background-color: var(--main-primary) !important;
  color: var(--white) !important;
}
.btn:first-child:active,
.btn:active {
  background-color: var(--white) !important;
  color: var(--main-primary) !important;
  border-color: var(--main-primary);
}
.btn-primary {
  background-color: var(--main-primary);
  color: var(--white);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--white);
}
.btn-primary:active {
}
.fw-regular {
  font-weight: 500 !important;
}

header {
  padding: 0 10px;
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 2.22;
}

a,
a:visited {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
  margin: 0;
  padding: 0;
}

a:hover,
a:focus {
  transition: all 0.3s ease 0s;
  color: var(--main-primary) !important;
}
a:active {
  transform: scale(0.9);
}
.btn {
  padding: 12px 24px;
}
.burger-btn {
  z-index: 300;
  position: fixed;
  top: 25px;
  right: 10px;
  min-width: 34px;
  min-height: 32px;
  margin-top: -14px;
  border: none;
  background: none;
}

.burger-btn span {
  transition: all 0.3s ease 0s;
  position: relative;
  display: block;
  width: 22px;
  height: 2px;
  background: var(--main-primary);
}
.text-secondary {
  color: var(--main-primary) !important;
}
.fs-52px {
  font-size: 52px;
}
.burger-btn span::before {
  transition: all 0.3s ease 0s;
  position: absolute;
  top: -6px;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background: var(--main-primary);
}
.burger-btn span::after {
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  bottom: -6px;
  display: block;
  width: 22px;
  height: 2px;
  background: var(--main-primary);
}

.burger-active {
}
.burger-active span {
  height: 0;
}
.burger-active span::before {
  transform: rotate(-45deg);
  top: -2px;
}
.burger-active span::after {
  transform: rotate(45deg);
  bottom: 0;
}
.nav-active {
  transition: all 0.3s ease-in-out 0s;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  nav {
    z-index: 100;
    transition: all 0.3s ease-in-out 0s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -1000px;
    background: var(--white);
    height: 100vh;
    width: 100%;
    position: absolute;
  }
}

/* Main */
main {
}
.hero {
  min-height: 596px;
}

.hero::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
  background-image: url("../images/main/container.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .hero {
    background-size: contain;
  }
}
.hero-title {
  font-size: 64px;
}

/* in-the-pipeline section */
@media (min-width: 768px) {
  .in-the-pipeline {
    margin: 200px 0px 0px 0px;
  }
}
.in-the-pipeline {
  position: relative;
  margin: 100px 0px 0px 0px;
}

.in-the-pipeline h3::after {
  z-index: -1;
  position: absolute;
  top: 14px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--pipeline-line-color);
}
/* traditional-fundraising */
.traditional-fundraising {
  margin: 80px 0px 0px 0px;
}
@media (min-width: 768px) {
  .traditional-fundraising {
    margin: 200px 0px 0px 0px;
  }
}
.list-card {
  background: var(--white);
  box-shadow: 0px 8px 12px -6px rgba(35, 21, 91, 0.05),
    0px 14px 64px -4px rgba(35, 21, 91, 0.05);
  border-radius: 8px;

  display: flex;
  gap: 12px;
}
